extends layout

block content
    h1= title
    p Welcome #{user.displayName}
    p Choose a Task
    p
        a(href='/quotes/viewQuotes') New Document From Template
    p
        a(href='/quotes/viewQuotes') Existing Documents
    p(onclick="window.open('/quotes/viewQuotes', 'width=800,height=600,centerscreen=1,menubar=0,toolbar=0,location=0,personalbar=0,status=0,titlebar=0,dialog=1')") Existing Documents (Popup)
    p
        a(href='/quoteterms/viewTerms') Clause Library
    p
        a(href='/view:import') Template Wizard
    p
        a(href='/connect/logout') Logout
