doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title= title
    meta(name='viewport', content='width=device-width', initial-scale='1')
    script(type='text/javascript' src='https://appsforoffice.microsoft.com/lib/beta/hosted/office.js')
    link(rel='stylesheet', href='/stylesheets/fabric.css')
    link(rel='stylesheet', href='/stylesheets/fabric.components.css')
    link(rel='stylesheet', href='/stylesheets/NavBar.css')
    link(rel='stylesheet', href='/stylesheets/Dropdown.css')
    link(rel='stylesheet', href='/stylesheets/TextField.css')
    link(rel='stylesheet', href='/stylesheets/Label.css')
    link(rel='stylesheet', href='/stylesheets/Table.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='icon', href='/images/favicon.ico', type='image/x-icon')
    script(type='text/javascript' src='https://code.jquery.com/jquery-2.1.4.min.js')
    script(type='text/javascript' src='/bower_components/office-ui-fabric/dist/js/jquery.fabric.js')
    script(type='text/javascript' src='/javascripts/Jquery.NavBar.js')
    script(type='text/javascript' src='/javascripts/Jquery.Dropdown.js')
    script(type='text/javascript' src='/javascripts/Jquery.TextField.js')
    script(type='text/javascript' src='/javascripts/components.js')
    script(type='text/javascript' src='https://localhost:1337/vorlon.js')
  body(class="ms-font-m")
    block navContent
    block mainContent
    script(type='text/javascript' src='https://cdn.socket.io/socket.io-1.3.7.js')
    script(type='text/javascript' src='/javascripts/client.js')
    script(type='text/javascript' src='/javascripts/base64.js')