extends layout

block navContent
    div.ms-NavBar
        div.ms-NavBar-openMenu.js-openMenu
            i.ms-Icon.ms-Icon--menu
        div.ms-Overlay
        ul.ms-NavBar-items
            li.ms-NavBar-item
                a.ms-NavBar-link(href="/home") Home
            li.ms-NavBar-item.ms-NavBar-item--hasMenu
                a.ms-NavBar-link Tasks
                i.ms-NavBar-chevronDown.ms-Icon.ms-Icon--chevronDown
                ul.ms-ContextualMenu
                    li.ms-ContextualMenu-item
                        a.ms-ContextualMenu-link(href="/New") New Document
                    li.ms-ContextualMenu-item
                        a.ms-ContextualMenu-link(onclick="window.open('/quotes/viewQuotes', 'width=800,height=600,centerscreen=1,menubar=0,toolbar=0,location=0,personalbar=0,status=0,titlebar=0,dialog=1')") Existing Documents
                    li.ms-ContextualMenu-item
                        a.ms-ContextualMenu-link Clause Library
                    li.ms-ContextualMenu-item
                        a.ms-ContextualMenu-link Template Wizard
